* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.special-page-heading {
    font-size: 2rem;
}
.special-page-line {
    font-size: 1rem;
}
.special-page {
    background: #1f2130;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.time {
    width: 50px;
    height: 50px;
    background: orange;
    font-size: 1.2rem;
    border-radius: 8px;
}
.deto {
    font-size: 1.6rem;
}
.offerss {
    display: flex;
    gap: 30px;
    margin-left: 110px;
}
.offer-box {
    width: 400px;
    padding-top: 10px;

    height: 140px;
    border-radius: 10px;
    background-color: #fafafa;
    color: black;
    text-align: left;
    background: url("../assets/offer-page-image.webp");
}

.offer-box-h {
    width: 350px;
    padding-left: 10px;
}
